@use "../../assets/sass/_variables.scss" as *;
@use "../../assets/sass/_typography.scss" as *;

.search {
  color: $light-color;
  &__label {
    display: block;
    margin-bottom: 0.6rem;
    font-size: 1.1rem;
  }
  &__input {
    width: 100%;
    outline: none;
    padding: 0.3rem 0.3rem;
    border-radius: 5px;
    border: 4px solid $accent-color;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: $body-font;
  }
}

@media (min-width: 1024px) {
  .search {
    &__label {
      font-size: 1.2rem;
    }
    &__input {
      font-size: 1.2rem;
    }
  }
}
