@use "../../assets/sass/_variables.scss" as *;

.check-filter {
  &__label {
    display: inline;
    margin-right: 1rem;
    font-size: 1.1rem;
  }
  &__box {
    transform: scale(1.4);
  }
}

@media (min-width: 1024px) {
  .check-filter {
    &__label {
      font-size: 1.2rem;
    }
  }
}
