@use "../../assets/sass/variables" as *;
@use "../../assets/sass/typography" as *;

.card {
  border-radius: 15px;
  font-family: $body-font;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: $dark-color;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__img {
    background-color: $light-color;
    padding: 0.5rem;
    & img {
      max-width: 100%;
      height: 300px;
      display: block;
      margin: auto;
    }
  }
  &__detail {
    color: $light-color;
    padding: 1rem 2rem;
    .card__header {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      .card__name {
        font-size: 1.4rem;
        align-self: center;
        margin: 0.5rem 0;
        padding: 0.2rem 0.8rem;
        background-color: $accent-color;
        text-transform: uppercase;
      }
      .card__miscellaneous {
        align-self: center;
        text-align: end;
        margin: 0;
      }
    }
    .card__tagline {
      margin: 0;
      padding-top: 0.4rem;
      padding-bottom: 0.8rem;
      border-bottom: 2px solid $accent-color;
      font-size: 1.1rem;
      font-weight: 600;
    }
    .card__description {
      line-height: 1.4rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 27%;
  }
}
